// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nounderline {
  text-decoration: none;
}

.form_text {
  height: 15em !important;
}

.form_due_at {
  width: auto !important;
}
